<div class="col-sm-6 col-sm-offset-3">
  <h1><%= @product.new_record? ? "Nuevo": "Editar" %> Producto</h1>

  <%= form_for @product do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control input-lg", placeholder: "Nombre del producto" %>
    </div>
    <div class="form-group">
      <%= f.number_field :price, class: "form-control input-lg", placeholder: "Precio del producto" %>
    </div>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name  do |c| %>
      <div class="checkbox">
        <%= c.label do %>
          <%= c.check_box %> <%= c.object.name %>
        <% end %>
      </div>
    <% end %> <br>

    <div>
      <%=f.submit @product.new_record? ? "Crear Producto" : "Editar Producto", class:'btn btn-primary btn-block'%>
    </div>
  <% end %>
</div>